# Dependencies
node_modules
npm-debug.log

# Environment variables
.env

# Logs
logs
*.log
pids
*.pid
*.seed
*.pid.lock

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Service Account Key (if generic name)
service-account.json
